@charset "utf-8";
/* CSS Document */



		/*------NAVIGATION------*/


		/*------BANNER01------*/
#banner01{
	height: 500px;
	background-image: url("../img/banner01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}


		/*------ABOUT US------*/



		/*------NEW CLT------*/






		/*------ BEST SELLER ------*/
#banner02{
	border-radius: 100px;
	margin-top: 40px;
	
}


		/*------ MAU GACH TIEU BIEU ------*/



		/*------ DU AN TIEU BIEU ------*/













